---
import Customtitle from "../components/Customtitle.astro";
import MainLayouts from "../layouts/MainLayouts.astro";


---

<MainLayouts title="About">
  <h1>About</h1>

  <Customtitle title="This is a custom title" />
</MainLayouts>

<style>
  h1 {
    color:red
  }
</style>